 *{
    margin: 0%;
    padding: 0%;
 }
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 33px;
    box-shadow: 0px 1px 5px 0px rgb(250, 249, 249);
}

.logo h1{
    font-size: 37px;
    color: orangered;
   margin-top: -2px;
}
 ul{
    display: flex;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}
ul li{
    list-style: none;
    margin-inline: 15px;
    color: white;

}
.icon{
    margin-left: -11px;
}
.icon i{
    font-size: 22px;
    margin-inline: 8px;
    background-color: white;
    color: black;
    padding: 9px;
    border-radius: 2px;
}
.icon i:hover{
    color: red;
    cursor: pointer;
}
nav input{
    width: 600px;
    padding: 11px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 2px;
}
.input i{
    margin-left: -28px;
    color:black;
    font-size: 15px;
}
.input :hover{
    color: red;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main img{
    width: 750px;
    height: 650px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 20px;
}
.main .text{
    width: 500px;
    margin-top: 72px;
}
.text h1{
    font-size: 70px;
}
.text p{
    color: rgb(223, 221, 221);
    margin-top: 55px;
    
}
.text button{
    margin-top: 24px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 140px;
    height: 40px;
}
.crd{
    display: flex;
    justify-content: center;
    margin-left: 185px;
    color: black;
}
.crd .card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: black;
    margin-inline: 25px;
    margin-top: 80px;
}
.crd .card button:hover{
    color:purple;
    cursor: pointer;
}
.card img{
    width: 100%;

}
.card h2{
    margin-top: 12px;
}
.card p{
    margin-top: 12px;
}
 .card button{
    margin-top: 25px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 140px;
    height: 40px;
}
.blog{
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    color: black;
    margin-inline: 25px;
    margin-top: 80px;
}
.blog a:hover{
    color:purple;
    cursor: pointer;
}
.blog h2{
    margin-top: 12px;
}
.blog p{
    margin-top: 12px;
}
.blog a{
    position: relative;
    top: 35px;
    width: 160px;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 12px;
}
.blog img{
    width: 100%;
}
.contact{

}
.head h1{
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}
.head span{
    color: orangered;

}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 55px;
    margin-top: 77px;
    

}
.footer .txt{
color: black;
}
.txt p{
    margin-top: 12px;
}



.login{
    display: none;
    position: absolute;
    margin-left: 1250px;
    width: 200px;
    padding: 22px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    margin-top: 6px;

}
.login h2{
    color: black;

}
.login input{
    border: none;
    border-bottom: 2px solid black;
    width: 160px;
    font-size: 15px;
    padding: 2px;
    margin-top: 15px;
}
.login button{
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 22px;
}


.nav{
    display: none;
    position: absolute;
    margin-left: 1250px;
    width: 160px;
    padding: 22px;
    background-color: white;
   
    border-radius: 4px;
    margin-top: 6px;
}
.nav  p{
    width: 110px;
    color: black;
    margin-left: 20%;
    padding: 11px;
     border-radius: 4px;
}
.nav p:hover{
    background-color: silver;
    padding: 11px;
    color: orangered;
    cursor: pointer;

}
