body{
    background-image: url(pic.jpeg);
    




}
.maindiv{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    text-align: center;
    margin:auto ;

    position: relative;


    

}
.login{
    font-size: 50px;
    border-radius: 20px;
    padding: 10px;

}
.login button{
    padding: 10px;
    justify-content: center;
}